@import "tailwindcss";

:root {
  --color-base: 225 44% 4%;
  --color-primary: 188 86% 53%;

  --background: #ffffff;
  --foreground: hsl(var(--color-base));

  --component-bg: hsl(var(--color-primary) / 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-component: var(--component-bg);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(var(--color-base));
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}